<div class="col-md-12 col-sm-12">
  <div class="x_panel">
    <div class="page-title">
      <h1>Добавление пользователя</h1>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="container-fluid" style="background-color: #FFF;">
        <form class="" action="" method="POST">
          <div class="col-md-12">
            <div class="row" style="padding-top: 15px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align">Фамилия<span class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <input class="form-control" id="surname" type="text" name="surname" required="required"
                  placeholder="Введите фамилию" />
              </div>
            </div>
            <div class="row" style="padding-top: 15px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align">Имя<span class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <input class="form-control" id="name" type="text" name="name" required="required"
                  placeholder="Введите имя" />
              </div>
            </div>
            <div class="row" style="padding-top: 15px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align">Отчество<span
                  class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <input class="form-control" id="patronymic" type="text" name="patronymic" required="required"
                  placeholder="Введите отчество" />
              </div>
            </div>
            <div class="row" style="padding-top: 15px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align">Роль:<span class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <select name="template" style="width: 100%" id="template" class="form-control">
                  {{#if access.length}}
                    {{#each access}}
                      <option value="{{ template }}">{{ name }}</option>
                    {{/each}}
                  {{/if}}
                </select>
              </div>
            </div>
            <div class="row" style="padding-top: 15px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align">Тип учетной записи:<span
                  class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <select name="typeAccount" style="width: 100%" id="typeAccount" class="form-control">
                  <option value="Локальная">Локальная</option>
                  <option value="Доменная">Доменная</option>
                </select>
              </div>
            </div>
            <div class="row" style="padding-top: 15px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align">Логин<span class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <input class="form-control" id="login" type="text" name="login" required="required"
                  placeholder="Введите логин" />
              </div>
            </div>
            <div class="row" style="padding-top: 15px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align">Пароль<span class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <input class="form-control" type="password" id="password" name="password" placeholder="Введите пароль"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*]).{8,}"
                  title="Минимум 8 символов, включая заглавные и строчные буквы, цифры и уникальный символ"
                  required="" />
              </div>
            </div>
            <div class="row" style="padding-top: 15px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align">Город:<span class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <select name="city" style="width: 100%" id="user_add_city" class="form-control">
                  <option></option>
                  {{#if filterCity.length}}
                    {{#each filterCity}}
                      <option value="{{ this }}">{{ this }}</option>
                    {{/each}}
                  {{/if}}
                </select>
              </div>
            </div>
            <div class="row" style="padding-top: 15px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align">Комплекс:<span
                  class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <select name="complex" style="width: 100%" id="user_add_complex" class="form-control">
                </select>
              </div>
            </div>
            <div class="row " style="padding-top: 15px;">
              <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">Подразделение:<span
                    class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                  <select name="subdiv" style="width: 100%" id="user_add_subdiv" class="form-control">
                  </select>
                </div>
              </div>
            </div>
            <div class="row " style="padding-top: 15px;">
              <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">Серверы:<span
                    class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                  <select multiple name="servers" style="width: 100%; height: inherit;" id="user_add_servers"
                    class="form-control" required>
                  </select>
                </div>
              </div>
            </div>
            <div class="row " style="padding-top: 15px; padding-bottom: 15px;">
              <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">Языковые пары:<span
                    class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                  <div class="container" name="tree" id="userTree"></div>
                </div>
              </div>
            </div>
            <input type="hidden" name="pairs" id="pairs" />
            <input type="hidden" name="_csrf" value="{{ csrf }}" />
            <div class="field form-group" style="float: right; padding-top: 15px;">
              <div class="col-md-12" style="padding-right: 0 !important;">
                <a href="/users" class="btn btn-danger"> Отмена </a>
                <button type="submit" id="buttonAddUser" class="btn btn-success">Добавить</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>