<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="page-title">
      <!--#my-modal -->
      <h1>Список пользователей</h1>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
<<<<<<< HEAD
=======
   
>>>>>>> master
      <div class="col-md-12">
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Все пользователи -->
          <div class="tab-pane active">
            <div class="row">
              <div class="col-md-12">
                <div class="card-box table-responsive">
<<<<<<< HEAD
                  <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap no-footer">
=======
                  <div
                    id="datatable_wrapper"
                    class="dataTables_wrapper dt-bootstrap no-footer"
                  >
>>>>>>> master
                    <div class="row">
                      <div class="page-title col-sm-12">
                        <a href="/users/addusers" role="button" id="">
<<<<<<< HEAD
                          <button class="btn btn-success" style="
                              float: right;
                              
                            ">
=======
                          <button
                            class="btn btn-success btn-lg"
                            style="
                              float: right;
                              border-radius: 4px;
                              font-size: 13px;
                            "
                          >
>>>>>>> master
                            Добавить пользователя
                          </button>
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card-box table-responsive">
<<<<<<< HEAD
                          <table id="datatable1" class="table table-striped table-bordered dataTable no-footer"
                            style="width: 100%" role="grid" aria-describedby="datatable_info">
                            <thead>
                              <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                  aria-sort="ascending" aria-label="ID: активировать для сортировки столбца по убыванию"
                                  style="width: 14px; text-align: center">
=======
                          <table
                            id="datatable1"
                            class="table table-striped table-bordered dataTable no-footer"
                            style="width: 100%"
                            role="grid"
                            aria-describedby="datatable_info"
                          >
                            <thead>
                              <tr role="row">
                                <th
                                  class="sorting_asc"
                                  tabindex="0"
                                  aria-controls="datatable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-sort="ascending"
                                  aria-label="ID: активировать для сортировки столбца по убыванию"
                                  style="width: 14px; text-align: center"
                                >
>>>>>>> master
                                  №
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="ФИО: активировать для сортировки столбца по убыванию"
                                  style="width: 235px; text-align: center"
                                >
                                  ФИО
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Комплекс: активировать для сортировки столбца по убыванию"
<<<<<<< HEAD
                                  style="width: 108px; text-align: center">
                                  Город
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                  aria-label="Комплекс: активировать для сортировки столбца по убыванию"
                                  style="width: 108px; text-align: center">
=======
                                  style="width: 108px; text-align: center"
                                >
>>>>>>> master
                                  Комплекс
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Подразделение: активировать для сортировки столбца по убыванию"
                                  style="width: 51px; text-align: center"
                                >
                                  Подразделение
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Роль: активировать для сортировки столбца по убыванию"
                                  style="width: 100px; text-align: center"
                                >
                                  Роль
                                </th>
<<<<<<< HEAD
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                  aria-label="Роль: активировать для сортировки столбца по убыванию"
                                  style="width: 100px; text-align: center">
                                  Учетная запись
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                  aria-label="Роль: активировать для сортировки столбца по убыванию"
                                  style="width: 100px; text-align: center">
                                  Логин
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
=======
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Роль: активировать для сортировки столбца по убыванию"
                                  style="width: 100px; text-align: center"
                                >
                                  Учетная запись
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable"
                                  rowspan="1"
                                  colspan="1"
>>>>>>> master
                                  aria-label="Salary: activate to sort column ascending"
                                  style="width: 84px; text-align: center"
                                >
                                  Действия
                                </th>
<<<<<<< HEAD
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                  aria-label="Salary: activate to sort column ascending"
                                  style="width: 60px; text-align: center">
=======
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Salary: activate to sort column ascending"
                                  style="width: 60px; text-align: center"
                                >
>>>>>>> master
                                  Привязка
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              {{#if users.length}}
<<<<<<< HEAD
                                {{#each users}}
                                  <tr role="row" class="odd">
                                    <td class="sorting_1" style="text-align: center">
                                      {{counter @index}}
                                    </td>
                                    <td style="text-align: center">
                                      {{ name}}
                                      {{ surname}}
                                      {{ patronymic}}
                                    </td>
                                    <td style="text-align: center">
                                      {{city}}
                                    </td>
                                    <td style="text-align: center">
                                      {{complex}}
                                    </td>
                                    <td style="text-align: center">
                                      {{subdiv}}
                                    </td>
                                    <td style="text-align: center">
                                      {{ templateName }}
                                    </td>
                                    <td style="text-align: center">
                                      {{ typeAccount }}
                                    </td>
                                    <td style="text-align: center">
                                      {{ login }}
                                    </td>
                                    <td style="text-align: center; padding: 5px 0 0 0">
                                      <a href="/users/{{ _id }}/editusers?allow=true" class="btn btn-primary btn-md"
                                        data-rel="tooltip" title="" data-original-title="Редактировать"><span
                                          class="glyphicon glyphicon-pencil"></span>
                                      </a>
                                      <a href="/users/{{ _id }}/user_delete" class="btn btn-danger btn-md"
                                        data-rel="tooltip" title="" data-original-title="Удалить"><span
                                          class="glyphicon glyphicon-trash" style="color: #fff"></span>
                                      </a>
                                    </td>
                                    <td style="text-align: center; padding: 5px 0 0 0">
                                      {{#if (checkDomainUser typeAccount)}}
                                        <a href="/users/{{ _id }}/bindinguser""
                                        class=" btn btn-success btn-md" data-rel="tooltip" title=""
                                          data-original-title="Связывание">
                                          <div class="glyphicon glyphicon-link"></div>
                                        </a>
                                      {{/if}}
                                    </td>
                                  </tr>
                                {{/each}}
=======
                              {{#each users}}
                              <tr role="row" class="odd">
                                <td
                                  class="sorting_1"
                                  style="text-align: center"
                                >
                                  {{counter @index}}
                                </td>
                                <td style="text-align: center">
                                  {{ login }}
                                </td>
                                <td style="text-align: center"></td>
                                <td style="text-align: center"></td>
                                <td style="text-align: center">
                                  {{ templateName }}
                                </td>
                                <td style="text-align: center">
                                  {{ typeAccount }}
                                </td>
                                <td
                                  style="text-align: center; padding: 5px 0 0 0"
                                >
                                  <a
                                    href="/users/{{ _id }}/editusers?allow=true"
                                    class="btn btn-primary btn-md"
                                    data-rel="tooltip"
                                    title=""
                                    data-original-title="Редактировать"
                                    ><span
                                      class="glyphicon glyphicon-pencil"
                                    ></span>
                                  </a>
                                  
                                  <a
                                    href="/users/{{ _id }}/user_delete"
                                    class="btn btn-danger btn-md"
                                    data-rel="tooltip"
                                    title=""
                                    data-original-title="Удалить"
                                    ><span
                                      class="glyphicon glyphicon-trash"
                                      style="color: #fff"
                                    ></span>
                                  </a>
                                  
                                </td>
                                <td style="text-align: center; padding: 5px 0 0 0">
                                  {{#if (checkDomainUser typeAccount)}}
                                  <a
                                        href="/users/{{ _id }}/bindinguser""
                                        class="btn btn-success btn-md"
                                        data-rel="tooltip"
                                        title=""
                                        data-original-title="Связывание"
                                        ><div class="glyphicon glyphicon-link"></div>
                                  </a>
                                  {{/if}}
                                </td>
                              </tr>
                              {{/each}}
>>>>>>> master
                              {{/if}}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<<<<<<< HEAD
<script id='userData' type="text/x-handlebars-template">
  {{#if users.length}}
    {{#each users}}
      <tr role="row" class="odd">
        <td class="sorting_1" style="text-align: center">
          {{counter @index}}
        </td>
        <td style="text-align: center">
          {{ login }}
        </td>
        <td style="text-align: center"></td>
        <td style="text-align: center"></td>
        <td style="text-align: center">
          {{ templateName }}
        </td>
        <td style="text-align: center; padding: 5px 0 0 0">
          <a href="/users/{{ _id }}/editusers?allow=true" class="btn btn-primary btn-md" data-rel="tooltip" title=""
            data-original-title="Редактировать"><span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a href="/users/{{ _id }}/user_delete" class="btn btn-danger btn-md" data-rel="tooltip" title=""
            data-original-title="Удалить"><span class="glyphicon glyphicon-trash" style="color: #fff"></span>
          </a>
        </td>
      </tr>
    {{/each}}
=======


<script id='userData' type="text/x-handlebars-template">
                                
  {{#if users.length}}
  {{#each users}}
  <tr role="row" class="odd">
    <td
      class="sorting_1"
      style="text-align: center"
    >
      {{counter @index}}
    </td>
    <td style="text-align: center">
      {{ login }}
    </td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center">
      {{ templateName }}
    </td>
    <td
      style="text-align: center; padding: 5px 0 0 0"
    >
      <a
        href="/users/{{ _id }}/editusers?allow=true"
        class="btn btn-primary btn-md"
        data-rel="tooltip"
        title=""
        data-original-title="Редактировать"
        ><span
          class="glyphicon glyphicon-pencil"
        ></span>
      </a>
      <a
        href="/users/{{ _id }}/user_delete"
        class="btn btn-danger btn-md"
        data-rel="tooltip"
        title=""
        data-original-title="Удалить"
        ><span
          class="glyphicon glyphicon-trash"
          style="color: #fff"
        ></span>
      </a>
    </td>
  </tr>
  {{/each}}
>>>>>>> master
  {{/if}}
</script>